/* GOOGLE FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/* CSS VARIABLES */
:root {
  --title-color: #fff;
  --text-color: hsl(235, 20%, 57%);
  --body-gradient: linear-gradient(
    344deg,
    rgba(124, 43, 215, 1) 0%,
    rgb(189, 77, 241) 100%
  );
  --container-color: hsl(235, 32%, 10%);

  /* FONT AND TYPOGRAPHY */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3.4rem;
  --normal-font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", monospace;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.cards {
  /* height: 100vh; */
  display: grid;
  /* grid-template-columns: repeat(3, 330px); */
  grid-template-columns: repeat(1fr);
  gap: 3rem;
  align-items: center;
  justify-content: center;
  background: var(--body-gradient);
}

.card__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon {
  width: 200px;
  margin-bottom: 1rem;
  animation: float-icon 2.5s ease-in-out infinite;
}

/* Animation img */
@keyframes float-icon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(0);
  }
}

.card__item {
  background-color: var(--container-color);
  border-radius: 4rem;
  padding: 4rem 3rem;
  box-shadow: 0px 20px 24px hsla(253, 32%, 15%, 0.2);
}

.card__info {
  text-align: center;
}

.card__title {
  margin-top: 2rem;
  color: var(--title-color);
  font-size: var(--biggest-font-size);
}

.card-description {
  margin-top: 0.5rem;
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.card__btn {
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 3rem;
  color: #fff;
  background-color: tomato;
  padding: 1rem 1.8rem;
  border-radius: 10rem;
  text-decoration: none;
  transition: all 0.5s;
}

.product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.product__price {
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 3rem;
  color: #fff;
  border: 1px solid rgb(230, 230, 230);
  padding: 1rem 1.8rem;
  border-radius: 10rem;
  transition: all 0.5s;
  text-transform: uppercase;
}

.card__btn:hover {
  box-shadow: 0 0 0 8px rgba(255, 99, 71, 0.404);
}

@media screen and (min-width: 240px) {
  .cards {
    padding: 5rem 0 2rem 0;
  }
  .card__item {
    /* padding: 4rem 1rem; */
    border-radius: 3rem;
  }

  .card__title {
    font-size: 2.2rem;
  }

  .card-description {
    font-size: 1.6rem;
  }

  .product__price,
  .card__btn {
    padding: 1rem 1.4rem;
    font-size: 1rem;
  }

  .card__icon {
    width: 100px;
  }
}

/* For medium devices */
@media screen and (min-width: 440px) {
  .cards {
    padding: 5rem 0 2rem 0;
  }
  .card__item {
    border-radius: 4rem;
  }

  .card__title {
    font-size: 3.4rem;
  }

  .card-description {
    font-size: 1.8rem;
  }

  .product__price,
  .card__btn {
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
  }

  .card__icon {
    width: 180px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 328px);
  }
}

/* For large devices */
@media screen and (min-width: 1100px) {
  .cards {
    height: 100vh;
    grid-template-columns: repeat(3, 328px);
  }

  .card__item {
    padding: 4rem 3rem;
    border-radius: 4rem;
  }

  .product__price,
  .card__btn {
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
  }

  .card__icon {
    width: 200px;
  }
}
