/* COPYRIGHT © 2022 KHEM RAJ BUDHATHOKI */
/* GOOGLE FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/* CSS VARIABLES */
:root {
  --white-color: rgb(255, 255, 255);
  --text-color: rgb(114, 119, 171);
  --body-gradient: linear-gradient(
    344deg,
    rgba(124, 43, 215, 1) 0%,
    rgb(189, 77, 241) 100%
  );
  --card-bg: rgb(16, 18, 39);
  --primary-heading: 3.4rem;
  --normal-heading: 1.8rem;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", monospace;
  box-sizing: border-box;
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

/* MAIN BEGIN */
.card-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 3rem;
  align-items: center;
  justify-content: center;
  background: var(--body-gradient);
}

.card {
  background-color: var(--card-bg);
  border-radius: 4rem;
  padding: 4rem 4rem;
  box-shadow: 0px 20px 24px rgba(31, 26, 50, 0.2);
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 200px;
  margin-bottom: 1rem;
  animation: dancing-img 2.5s ease-in-out infinite;
}

/* IMG ANIMATION */
@keyframes dancing-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* CARD HEADING */
.card-info {
  text-align: center;
}

.card-title {
  margin-top: 2rem;
  color: var(--white-color);
  font-size: var(--primary-heading);
}

.card-para {
  margin-top: 0.5rem;
  color: var(--text-color);
  font-size: var(--normal-heading);
}

/* PRODUCT INFO */
.product-info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 3rem;
  color: #fff;
  border: 1px solid rgb(230, 230, 230);
  padding: 1rem 1.8rem;
  border-radius: 10rem;
  transition: all 0.5s;
  text-transform: uppercase;
}

/* BUTTON */
.card-btn {
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 3rem;
  color: #fff;
  background-color: tomato;
  padding: 1rem 1.8rem;
  border-radius: 10rem;
  text-decoration: none;
  transition: all 0.5s;
}

.card-btn:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px tomato;
}
/* MAIN END */

/* BREAK POINT */
@media screen and (min-width: 240px) {
  .card-container {
    padding: 5rem 1rem;
  }

  .card-img {
    width: 120px;
  }

  .card-title {
    font-size: 2.2rem;
  }

  .card-para {
    font-size: 1.4rem;
  }

  .card-price,
  .card-btn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 320px) {
  .card-container {
    padding: 5rem 2rem;
  }

  .card-title {
    font-size: 3.4rem;
  }

  .card-price,
  .card-btn {
    font-size: 1.6rem;
  }

  .card-img {
    width: 180px;
  }
}

/* FOR MEDIUM DEVICES */
@media screen and (min-width: 440px) {
  .card-container {
    padding: 5rem 0 2rem 0;
  }
  .card {
    border-radius: 4rem;
  }

  .card-title {
    font-size: 3.4rem;
  }

  .card-para {
    font-size: 1.8rem;
  }

  .card-price,
  .card-btn {
    font-size: 1.6rem;
  }

  .card-img {
    width: 180px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 328px);
  }
}

/* FOR LARGE DEVICES */
@media screen and (min-width: 1100px) {
  .card-container {
    height: 100vh;
    grid-template-columns: repeat(3, 328px);
  }

  .card {
    padding: 4rem 4rem;
    border-radius: 4.5 rem;
  }

  .card-price,
  .card-btn {
    padding: 1.2rem 1.8rem;
    font-size: 1.6rem;
    margin-top: 3rem;
  }

  .card-img {
    width: 200px;
  }
}
